* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.bgColor {
  background: linear-gradient(to right, khaki, grey); }

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important; }

.ytlinkIndex {
  color: whitesmoke;
  box-sizing: content-box;
  background-color: #2f2f2f;
  text-align: center; }
